@layer components {
    .fi-body {
        background-color: var(--fi-shell-bg-light);
    }

    :where(.dark, .dark *) .fi-body {
        background-color: var(--fi-shell-bg-dark);
    }

    .fi-topbar,
    .fi-sidebar,
    .fi-body-has-topbar .fi-sidebar-header,
    .fi-simple-main,
    .fi-modal > .fi-modal-window-ctn > .fi-modal-window,
    .fi-section:not(.fi-section-not-contained):not(.fi-aside),
    .fi-section:not(.fi-section-not-contained).fi-aside > .fi-section-content-ctn,
    .fi-dropdown-panel {
        background-color: var(--fi-surface-bg-light);
    }

    :where(.dark, .dark *) .fi-topbar,
    :where(.dark, .dark *) .fi-sidebar,
    :where(.dark, .dark *) .fi-body-has-topbar .fi-sidebar-header,
    :where(.dark, .dark *) .fi-simple-main,
    :where(.dark, .dark *) .fi-modal > .fi-modal-window-ctn > .fi-modal-window,
    :where(.dark, .dark *) .fi-section:not(.fi-section-not-contained):not(.fi-aside),
    :where(.dark, .dark *) .fi-section:not(.fi-section-not-contained).fi-aside > .fi-section-content-ctn,
    :where(.dark, .dark *) .fi-dropdown-panel {
        background-color: var(--fi-surface-bg-dark);
    }

    .fi-modal.fi-modal-has-sticky-header > .fi-modal-window-ctn > .fi-modal-window > .fi-modal-header,
    .fi-modal.fi-modal-has-sticky-footer > .fi-modal-window-ctn > .fi-modal-window > .fi-modal-footer {
        background-color: var(--fi-surface-bg-light);
    }

    :where(.dark, .dark *) .fi-modal.fi-modal-has-sticky-header > .fi-modal-window-ctn > .fi-modal-window > .fi-modal-header,
    :where(.dark, .dark *) .fi-modal.fi-modal-has-sticky-footer > .fi-modal-window-ctn > .fi-modal-window > .fi-modal-footer {
        background-color: var(--fi-surface-bg-dark);
    }

    .fi-section:not(.fi-section-not-contained).fi-secondary,
    .fi-section:not(.fi-section-not-contained).fi-aside.fi-secondary > .fi-section-content-ctn,
    .fi-ta-panel {
        background-color: var(--fi-surface-muted-bg-light);
    }

    :where(.dark, .dark *) .fi-section:not(.fi-section-not-contained).fi-secondary,
    :where(.dark, .dark *) .fi-section:not(.fi-section-not-contained).fi-aside.fi-secondary > .fi-section-content-ctn,
    :where(.dark, .dark *) .fi-ta-panel {
        background-color: var(--fi-surface-muted-bg-dark);
    }
}
